{#global head tags and assets#}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ title|default('') }}</title>
<meta name="description" content="{{ description|default('') }}" />
<meta name="keywords" content="{{ keywords|default('') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;800&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{{ base }}style.css" type="text/css" />
<link rel="icon" type="image/png" href="{{ base }}images/logo_round.png" />
{% block styles %}{% endblock %}
